<launch>
    <rosparam>
        beacons:
            beacon0:
                top:    "green"
                bottom: "pink"
                x:      -0.75
                y:      0
            beacon1:
                top:    "pink"
                bottom: "green"
                x:      0.75
                y:      0
            beacon2:
                top:    "yellow"
                bottom: "pink"
                x:      -0.375
                y:      0.65
            beacon3:
                top:    "pink"
                bottom: "yellow"
                x:      0.375
                y:      0.65
            beacon4:
                top:    "blue"
                bottom: "pink"
                x:      -0.375
                y:      -0.65
            beacon5:
                top:    "pink"
                bottom: "blue"
                x:      0.375
                y:      -0.65
    </rosparam>
</launch>