<launch>
    <rosparam>
        beacons:
            beacon0:
                top:    "green"
                bottom: "pink"
                x:      -3
                y:      -2.25
            beacon1:
                top:    "pink"
                bottom: "green"
                x:      3
                y:      -2.25
            beacon2:
                top:    "yellow"
                bottom: "pink"
                x:      -3
                y:      2.25
            beacon3:
                top:    "pink"
                bottom: "yellow"
                x:      3
                y:      2.25
            beacon4:
                top:    "blue"
                bottom: "pink"
                x:      0
                y:      4.5
            beacon5:
                top:    "pink"
                bottom: "blue"
                x:      0
                y:      -4.5
    </rosparam>
</launch>