<launch>
	<include file="$(find asst1)/launch/beacons/trial.launch" />
	
    <node pkg="asst1" type="visual" name="field" output="screen" >
    </node>
	
    <node pkg="image_view" type="image_view" name="field_view" />
    <node pkg="image_view" type="image_view" name="camera_view" >
      <remap from="image" to="/camera/rgb/image_color" />
    </node>
</launch>